<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="project time tracking and invoice generation"/>
    <meta name="author" content="Alexander Köb"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <title>invoiceR</title>
</head>
<body>
<div id="head"><h1>invoiceR</h1></div>
<div id="nav"><button type="button" id="btn-proj">Projects</button>&nbsp;<button type="button" id="btn-cust">Customers</button><button type="button" id="btn-inv">Invoices</button></div>

<div id="content">
<div id="cont-left">
	<button type="button" id="btn-proj-new">new Project</button>
	<p>
	<div id="proj-list"></div>
	</p>
</div>


<div id="cont-main"></div>
</div>

</body>
</html>
